<p id="notice"><%= notice %></p>

<p>
  <strong>Full url:</strong>
  <%= @url.full_url %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @url.nickname %>
</p>

<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
